---
import { siteConfig } from "../config/site-config";
import MainLayout from "../layouts/MainLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts:any[] =  Object.values(import.meta.glob('../pages/posts-old/*.{md,mdx}', { eager: true }));
const sortedPosts = posts
	.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());

---

<MainLayout title="irra's blog">
<!-- component -->
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{ siteConfig.title }</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
			{sortedPosts.map((post) => <BlogPost {...post} />)}	
        </div>
    </div>
</section>	
</MainLayout>